.header-container{
    background-color: black;
    padding: 10px 0;
}

.header-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    color: white;
}