.header-container{
    background-color: black;
    padding: 5px 0;
}

.header-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-sub-text-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.header-text{
    color: white;
    cursor: pointer;
}

.header-text-link{
    color: white;
    cursor: pointer;
    text-decoration: none;
}